
// Spinner

.spinner-bg {
  opacity: 0.5;
/*  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; */
  background-color: #ddd;
  z-index: 999;
}
