$prism-bg-color: #1c1c1c;

$prism-dark-gray: #5C6370; //777;
$prism-gray: #999;
$prism-light-gray: #abb2bf; //ccc;
$prism-red: #e06c75; //D27575; // #e2777a
$prism-dark-blue: #887bb5;
$prism-blue: #56a6ed; // 2876ff 61afef 6196cc
$prism-light-blue: #96beff; //96beff;
$prism-orange: #cb8f5b; // d19a66 CC8B5E f08d49
$prism-yellow: #eed174; // e6c772 f8c555
$prism-purple: #c678dd; // c678dd B88EC7 cc99cd
$prism-green: #8dbb6e; // 98c379 8BB56E 7ec699
$prism-cyan: #56b6c2; //7FD2C7; // #67cdcc

code[class*="language-"],
pre /*[class*="language-"]*/ {
  color: $prism-light-gray;
  background: none;
  text-align: left;

  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre /*[class*="language-"]*/ {
  padding: 0; // .75em 1em;
  margin: .5em 0;
  overflow: auto;
  display: flex;
}

pre > code {
  //padding: .6em .75em;
}

:not(pre) > code[class*="language-"],
pre /*[class*="language-"]*/, pre /*[class*="language-"]*/ code {
  background: $prism-bg-color;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $prism-dark-gray;
}

.token.important,
.token.punctuation {
  color: $prism-gray;
}

.token.tag,
.token.namespace,
.token.deleted {
  color: $prism-red;
}

.token.property,
.token.function-name,
.token.variable {
  color: $prism-blue;
}

.token.boolean,
.token.number,
.token.function,
.token.package {
  color: $prism-orange;
}

.token.class-name,
.token.constant,
.token.symbol,
.token.attr-name {
  color: $prism-yellow;
}

.token.selector,
.token.atrule,
.token.keyword,
.token.builtin {
  color: $prism-purple;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex {
  color: $prism-green;
}

.token.operator {
  color: $prism-dark-blue;
}

.token.entity,
.token.url {
  color: $prism-cyan;
}

.token.inserted {
  color: $prism-green;
}


// Based on Atom One Dark
/*
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5C6370;
}

.token.punctuation {
  color: #abb2bf;
}

.token.selector,
.token.tag {
  color: #e06c75;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d19a66;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #98c379;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #56b6c2;
}

.token.atrule,
.token.keyword {
  color: #c678dd;
}

.token.function {
  color: #61afef;
}

.token.regex,
.token.important,
.token.variable {
  color: #c678dd;
}
*/
