#scroll-top {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 10px;
  padding: 15px;

  &.is-active:hover {
    cursor: pointer;
  }

  span {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid transparent;
    transition: border-bottom-color .3s;

  }

  &.is-active span {
    border-bottom-color: #777;
  }
  &.is-active:hover span {
    border-bottom-color: #000;
  }
}
