.icon {padding: 0}

$icon-base-size: .75rem;

.icon svg {
  vertical-align: middle;
  width: $icon-base-size;
}

.icon-size-1 svg {
  width: $icon-base-size;
}

.icon-size-2 svg {
  width: $icon-base-size * 1.5;
}

.icon-size-3 svg {
  width: $icon-base-size * 2;
}

.icon-size-4 svg {
  width: $icon-base-size * 2.5;
}

.icon-size-small svg {
  width: $icon-base-size * .75;
}
