
$font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif !default;
$light-font-weight: 300 !default;
$normal-font-weight: 400 !default;
$bold-font-weight: 600 !default;
$strong-font-weight: 600 !default;
$letter-spacing: -0.016rem !default;

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  src: url("inter-300.woff2") format("woff2"),
       url("inter-300.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  src: url("inter-300-italic.woff2") format("woff2"),
       url("inter-300-italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  src: url("inter-400.woff2") format("woff2"),
       url("inter-400.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  src: url("inter-400-italic.woff2") format("woff2"),
       url("inter-400-italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  src: url("inter-600.woff2") format("woff2"),
       url("inter-600.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  src: url("inter-600-italic.woff2") format("woff2"),
       url("inter-600-italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  src: url("inter-800.woff2") format("woff2"),
       url("inter-800.woff") format("woff");
}
