
body { overflow: hidden }

.site {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.site-main {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.site .site-header {

  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .header-title {
    display: flex;
    align-items: center;
  }

  .header-title-content {
    width: 100%;
    display: flex;
  }
  .header-title-content-left {
    flex: 1 0 auto;
  }
  .header-title-content-right {
    display: flex;
    align-items: center;
    text-align: right;
  }

  .header-menu a {
    color: inherit;
    transition: background-color .15s;
    &:hover, &:focus {
      color: inherit;
      text-decoration: none;
    }
  }

  .header-menu-item .header-menu-item a {
    padding-left: 1.5rem;
  }
  .header-menu-item .header-menu-item .header-menu-item a {
    padding-left: 2rem;
  }

}

.header-menu-section-title {
  @extend .pt-1, .pl-1, .border-bottom, .color-gray, .text-small;
  text-transform: uppercase;
  letter-spacing: .03rem;
  font-size: .8rem;
}
.header-menu-item:first-of-type .header-menu-section-title {
  @extend .pt-0;
}

@include less-than( md ) {

  .header-menu {
    height: auto;
    overflow-y: auto;
    flex: 1 0 auto;
  }

  .header-menu-content {
    position: absolute;
    width: 100%;
    z-index: -1;
    transition: transform .3s;
    transform: translateY(-150%);
  }

  .header-menu {
    a {
      display: block;
      padding: .125rem .5rem;
    }
  }

  .site.is-header-menu-open {

    overflow-y: auto;

    .site-header .header-menu-content {
      transform: translateY(0);
    }
  }
}
