
.site-header {
  .header-title {

    @extend .h3;
    padding: $space-1;
    padding: $space-1;

    color: $site-header-text-color;
    background-color: $site-header-bg-color;

    a, a:hover, a.active {
      color: inherit;
      text-decoration: none;
    }
  }

  .header-menu-content {
    padding-top: $space-1;
    padding-bottom: $space-1;

    a:hover {
      background-color: $site-header-menu-item-hover-bg-color;
    }
    a.active {
      background-color: $site-header-menu-item-active-bg-color;
      text-decoration: none;
    }
    hr {
      margin-top: $space-1;
      margin-bottom: $space-1;
      border-color: $site-header-menu-hr-color;
    }
  }
}

.header-menu-section-title {
  border-color: $site-header-menu-hr-color;
}

.site-layout-with-sidebar .site-header {
  .header-menu-content {
    @extend .py-1;
    color: $site-header-menu-content-text-color;
    background-color: $site-header-menu-content-bg-color;
    //font-size: .9rem;
    a { cursor: default }
  }
}

.site-layout-standard .site-header {
  color: $site-header-text-color;
  background-color: $site-header-bg-color;
}

@include less-than( md ) {
  .site-layout-standard {
    .header-menu-content {
      color: $site-header-menu-content-text-color;
      background-color: $site-header-menu-content-bg-color;
      //box-shadow: 0 4px 4px rgba(0,0,0,.4);
    }
  }
}

@include more-than( md ) {

  .site-layout-with-sidebar .site-header {

    //border-right: 1px solid #eee;

    .header-menu-content {
      padding-top: $space-2;
      padding-bottom: $space-2;
    }
  }

  .site-layout-standard .site-header {

    padding: $space-1 $space-2;

    .header-title, .header-menu-content {
      //color: #fff;
      //background-color: transparent;
      padding: 0 !important;
    }

    .header-menu a {

      //color: #fff;
      background-color: transparent;
      padding: 2px 0;
      border-bottom: 2px solid transparent;
      transition: border-bottom .3s;

      &:hover, &.active {
        border-bottom: 2px solid $site-header-menu-hr-color;
      }
    }
  }
}
