
$site-header-bg-color: $navy !default;
$site-header-text-color: $white !default;

$site-header-menu-content-bg-color: $dark-gray-blue  !default; // $light-, gray-blue
$site-header-menu-content-text-color: #fafafa !default;

$site-header-menu-item-hover-bg-color: rgba(0,0,0,.4) !default;
$site-header-menu-item-active-bg-color: rgba(0,0,0,.4) !default;

$site-header-menu-hr-color: rgba(255, 255, 255, .2) !default;

@import "common-theme";
