
$site-header-bg-color: $dark-gray-blue !default;
$site-header-text-color: $white !default;

$site-header-menu-item-hover-bg-color: rgba(255, 255, 255, .6) !default;
$site-header-menu-item-active-bg-color: $gray-blue !default;

$site-header-menu-hr-color: $border-color !default;

@import "common-theme";
