
// With no sidebar

.site-layout-standard {

  .site-main {
    @extend .flex, .flex-column;
    .site-main-body {
      @extend .flex-grow;
    }
  }


  .site-header-inner {
    @extend .flex, .flex-grow, .w-100, .lg-width, .mx-auto;
  }

  @include less-than(md) {
    .site-header-inner {
      flex-direction: column
    }
  }
}

@include more-than( md ) {

  .site-layout-standard .site-header {

    padding: $space-1 $space-2;
    flex-direction: row;

    .header-title, .header-menu {
      width: 50%;
    }
    .header-menu {

      display: flex;
      align-items: center;

      a {
        margin-left: $space-2;
      }
    }
    .header-menu-content {
      width: 100%;
      text-align: right;
    }
    .header-menu-content li {
      display: inline;
    }
  }
}
