
// With no sidebar

.site-layout-standard {
  .site-main {
    @extend .flex, .flex-column;
    .site-main-body {
      @extend .flex-grow, .h-100;
      max-width: 100%;
    }
  }
}

@include more-than( md ) {

  .site-layout-standard .site-header {

    padding: $space-1 $space-2;
    flex-direction: row;

    .header-title, .header-menu {
      width: 50%;
    }
    .header-menu {

      display: flex;
      align-items: center;

      a {
        margin-left: $space-2;
      }
    }
    .header-menu-content {
      width: 100%;
      text-align: right;
    }
    .header-menu-content li {
      display: inline;
    }
  }
}
