
.carousel-container {

  position: relative;
  max-width: 300px; // Will be overridden

  margin: 0 auto;
  //overflow-y: hidden;

  touch-action: pan-y;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.carousel-track {
  display: flex;
  height: 100%;
}

.carousel-card {

  //flex: 0 0 300px;
  flex: 1;

  min-width: 300px; // Will be overridden
  height: auto;

  display: flex;

  justify-content: center;
  align-items: top;

  -webkit-tap-highlight-color: transparent;

  img { pointer-events: none; }
}

.carousel-card-inner {

  display: flex;

  //width: 290px;
  //height: 290px;
  margin: 0 5px;
  width: 100%;
  height: auto;

  border-radius: 5px;
}

/*.carousel-title {
  margin-top: 20px;
  font-size: 1.5em;
}

.carousel-text {
  padding: 1em;
  font-size: 14px;
  white-space: pre-wrap;
  text-align: left;
  font-family: sans-serif;
}
*/

.carousel-pagination-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.carousel-pagination {

  list-style: none;
  display: flex;
  justify-content: center; //space-around;

  //width: 180px;
  margin: 12px 0;
  padding: 0;
}

.carousel-pagination li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 8px;
  background: rgba(50, 50, 50, 0.5);

  pointer-events: all;
  cursor: pointer;
}

.carousel-pagination .current {
  background: white;
}
