
// Task list

.task-list-item {
  list-style-type: none;
  /*margin-left: -1.3rem;*/
  margin-left: -19px; /* Width of checkbox.. */
}
.task-list-item-checkbox {
  margin-right: .1rem !important;
  margin-bottom: .1rem;
}
